config:
  oidc:
    clientID: "${oidc_client_id}"
    issuerURL: "${oidc_issuer_url}"

clusterRoleBinding:
  create: false

env:
  - name: HEADLAMP_CONFIG_OIDC_SKIP_TLS_VERIFY
    value: "true"

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - host: ${hostname}
      paths:
        - path: /
          type: ImplementationSpecific
  tls:
    - hosts:
        - ${hostname}
      secretName: ${ingress_tls_secret_name}
