persistence:
  enabled: true
  storageSize: ${storage_size}

nexus:
  resources:
    requests:
      cpu: "1"
      memory: 1Gi
    limits:
      cpu: "2"
      memory: 2Gi
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 15
    failureThreshold: 40
    timeoutSeconds: 10
    path: /
  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 15
    failureThreshold: 40
    timeoutSeconds: 10
    path: /

  docker:
    enabled: true
    registries:
      - host: ${docker_hostname}
        port: ${docker_port}
        secretName: ${ingress_tls_secret_name}

ingress:
  enabled: true
  ingressClassName: nginx
  hostRepo: ${hostname}
  tls:
    - hosts:
        - ${hostname}
      secretName: ${ingress_tls_secret_name}
